body {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.conteiner {
    display: flex;
    flex-direction: row;
}


.sidebar {
    background-color: black;
    height: calc(100vh - 8rem);
    width: 15rem;
}

.central-block {
    height: calc(100vh - 8rem);
    width: 100%;
}

.header {
    background-color: #080b12;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.header span {
    background-color: transparent;
    color: white;
    padding: 15px;
    border: 1px solid white;
    border-radius: 50px;
    margin-right: 1.5rem;
    transition: all .2s ease-in-out;

}

.header span:hover {
    transform: scale(1.2);
}

.song-space {
    background-color: #141922;
    width: 100%;
    height: calc(100vh - 8rem - 6rem);
    overflow: auto;
}

.listening-bar {
    width: 100%;
    height: 8rem;
    background-color: #282828;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



/*SIDEBAR*/
#logo-sidebar {
    width: 10rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.home img {
    width: 20px;
    position: relative;
    top: 2px;
}

.home {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    margin-left: 1rem;
}

#house {
    border-left: 1px solid limegreen;
}

.playlist {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    margin-left: 1rem;
    height: 53%;
}

.piu {
    background-color: grey;
    padding: 4px;
}

.playlist h3 {
    margin-top: 1rem;
}

.playlist p {
    font-size: 1rem;
    margin-top: 1.2rem;
}

.home p {
    margin-top: 5px;
}

.sidebar p {
    color: #585858;
}

.sidebar p:hover {
    filter: brightness(100);
}

.sidebar h2 {
    color: #585858;
    margin-bottom: 5px;
}

.sidebar h3 {
    color: #585858;
    margin-bottom: 5px;
}

.sidebar h3:hover {
    filter: brightness(100);
}

.install {
    margin-left: 1rem;
    margin-top: 12rem;
}

.arrow {
    color: white;
    font-size: 10px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
}

#Doe-name {
    color: white;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
}

/*SONG-SPACE*/

.nav {
    width: 60%;
    font-size: 15px;
    font-weight: bold;
    color: #73767a;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 0.5rem;
}

.nav :first-child {
    box-shadow: 0px 1px greenyellow;
}

.nav span:hover {
    filter: brightness(100);
}

/*RECENTLY-PLAYED*/

.Recently-title {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;

}

.Recently-played {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-left: 1.5rem;

}

.song-photo {
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.song-photo i {
    color: transparent;
    font-size: 50px;
}

.song-photo i:hover {
    color: white;
}

/*PHOTO URL*/

.metal{
    background-image: url(/img/metal_lifting.jpg);
    background-size: cover;
}

.strangerthings{
    background-image: url(/img/stranger.jpeg);
    background-size: cover;
}

.quiet{
    background-image: url(/img/aquietplace.jpeg);
    background-size: cover;
}

.split{
    background-image: url(/img/split.jpeg);
    background-size: cover;
}

.wellness{
    background-image: url(/img/cure.jpeg);
    background-size: cover;
}

.sinister{
    background-image: url(/img/sinister.jpeg);
    background-size: cover;
}

.radar{
    background-image: url(/img/radar.jpeg);
    background-size: cover;
}

.daily{
    background-image: url(/img/mixdaily.jpeg);
    background-size: cover;
}

.lanadelray{
    background-image: url(/img/youg.jpeg);
    background-size: cover;
}

.einaudi{
    background-image: url(/img/einaudi.jpeg);
    background-size: cover;
}

.cerchio{
    border-radius: 50%;
}

/*FINE URL PHOTO*/

.song-photo:hover {
    opacity: 0.5;
}

.song-photo img {
    width: 100%;
    height: 100%;
}

.song-description {
    width: 180px;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.song-description h2 {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0.6rem;
}

.song-description p {
    color: grey;
    font-size: 15px;
    margin-top: 10px;

}

/*CREATE4JHON*/

.Create4Jhon {
    display: flex;
    flex-wrap:wrap;
    gap: 1rem;
    margin-left: 1.5rem;
}

.Jhon-Title {
    color: white;
    margin-left: 1.5rem;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1.5rem;
}

.listening-info {
    color: grey;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}

/*POPULARARTIST*/

.PopularArtist {
    display: flex;
    flex-wrap:wrap;
    margin-left: 1.5rem;
    gap: 1rem;
}

.PopularArtist div img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.circle {
    border-radius: 50%;
}

.Popular-Title {
    color: white;
    margin-left: 1.5rem;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1.5rem;
}

/*LISTENING BAR*/
.listening-bar img {
    width: 80px;
    margin-left: 1rem;
}

.first-part {
    display: flex;
    flex-direction: row;
    gap: 10px
}

.song-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sinister-name {
    color: white;
    font-weight: bold;
    font-size: 1.4rem;

}

#brano-name {
    color: grey;
}

#brano-name:hover {
    filter: brightness(80);
}

#icon-first-part {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: grey;
    margin-left: 10px;
}

#icon-first-part i:hover {
    filter: brightness(80);
}

.central-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.minute-left {
    color: white;
    position: relative;
    right: 60%;
    top: 12px;
}

.minute-right {
    color: white;
    position: relative;
    left: 60%;
    bottom: 12px;
}

.play-command {
    color: white;
    display: flex;
    gap: 20px;
    font-size: 30px;
    
}

.fa-circle-play:hover {
    transform: scale(1.2);
}

.song-time {
    background-color: white;
    width: 400px;
    height: 5px;
    display: flex;
    flex-direction: row;
}

.silver-time {
    background-color: silver;
    width: 20%;
    height: 5px;
}

.grey-time {
    background-color: grey;
    width: 80%;
    height: 5px;

}

.right-part {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    gap: 10px;
    color: white;
    font-size: 10px;
}

.volume-bar {
    width: 100px;
    height: 2px;
    background-color: white;
    display: flex;
}

.silver-volume {
    background-color: silver;
    width: 20%;
    height: 2px;
}

.grey-volume {
    background-color: grey;
    width: 80%;
    height: 2px;

}